<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/login.css">
    <link rel="stylesheet" href="/static/css/registrCss.css">
    <link rel="stylesheet" href="/static/css/table.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-xxl">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
                    aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <h4 class="navbar-brand">Welcome...
                    <h4 th:if="${isAuthentication}" th:text="${user.getUsername()}"></h4></h4>

                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/main}">Main</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </li>
                </ul>

                <form th:if="${isAuthentication}" th:action="@{/user}">
                    <button style="background: #a55da8" class="btn btn-primary btn-block" type="submit">My Page</button>
                </form>


                <form th:if="${!isAuthentication}" th:action="@{/login}" method="get">
                    <button style="background: #a55da8" class="btn btn-primary btn-block" type="submit">Login</button>
                </form>
                <!--                <form th:if="${user.isAdmin()}" class="d-flex" th:action="@{/admin}">-->
                <!--                    <button style="background: #a55da8" class="btn btn-primary btn-block" type="submit">Admin</button>-->
                <!--                </form>-->
                <form th:action="@{/main}" class="d-flex" method="post">
                    <input class="form-control me-2" type="search" name="searchKey" placeholder="Search"
                           aria-label="Search">
                    <button style="background: #a55da8" name="action" value="search" class="btn btn-primary btn-block"
                            type="submit">Search
                    </button>
                </form>
                <form th:if="${isAuthentication}" class="d-flex" th:action="@{/logout}" method="post">
                    <button style="background: #a55da8" class="btn btn-primary btn-block" type="submit">Log Out</button>
                </form>
            </div>
        </div>
    </nav>
</header>
<div class="intro" id="intro">
    <br>
    <div class="row">


        <div class="col-7" style="background: white">
            <div style="max-height: 70vh ; overflow: auto">
                <div class="container mtd-3" >
                    <table class="table">
                        <thead>

                        <tr>
                            <th>Foto</th>
                            <th>№ п/п</th>
                            <th>Data</th>
                            <th>Name collection</th>
                            <th>Buttons</th>

                        </tr>
                        </thead>
                        </tbody>
                        <div th:each="col : ${collections}">

                            <tr>
                                <td>
                                    <img style="height: 100px ; width: 100px" th:src="${col.getUrl()}">
                                </td>
                                <td th:text="${col.getId()}"></td>

                                <td th:text="${col.getFormatTime()}"></td>
                                <td th:text="${col.getName()}"></td>
                                <td>
                                    <form class="form" th:action="@{/itemColl}" method="post">
                                        <input type="hidden" name="id" th:value="${col.getId()}">
                                        <button style="background: #a55da8" class="btn btn-primary btn-block"
                                                type="submit" name="action" value="showCollection">Show
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        </div>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-4">


            <div style="max-height: 70vh ; overflow: auto ; background: white">
                <div th:if="${!flagSearch}" class="container mtd-3">
                    <table class="table">
                        <thead>

                        <tr>
                            <th>Name Item</th>
                            <th>Data</th>
                            <th>Buttons</th>

                        </tr>
                        </thead>
                        <div th:each="item : ${items}">

                            <tr>
                                <td th:text="${item.getName()}"></td>
                                <td th:text="${item.getFormatTime()}"></td>

                                <td>
                                    <form class="form" th:action="@{/itemColl}" method="post">
                                        <input type="hidden" name="id" th:value="${item.getId()}">
                                        <button style="background: #a55da8"
                                                class="btn btn-primary btn-block"
                                                type="submit" name="action" value="showItem">Show
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        </div>

                    </table>
                </div>
                <div th:if="${flagSearch}" class="container mtd-3">
                    <table class="table">
                        <thead>

                        <tr>
                            <th>Name Item</th>
                            <th>Data</th>
                            <th>Buttons</th>

                        </tr>
                        </thead>
                        <div th:each="item : ${searchItem}">

                            <tr>
                                <td th:text="${item.getName()}"></td>
                                <td th:text="${item.getFormatTime()}"></td>

                                <td>
                                    <form class="form" th:action="@{/itemColl}" method="post">
                                        <input type="hidden" name="id" th:value="${item.getId()}">
                                        <button style="background: #a55da8"
                                                class="btn btn-primary btn-block"
                                                type="submit" name="action" value="showItem">Show
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        </div>

                    </table>
                </div>
            </div>
        </div>
    </div>


    <script th:src="@{/static/js/three.min.js}"></script>
    <script th:src="@{/static/js/vanta.birds.min.js}"></script>
    <script th:src="@{/static/js/app.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
            crossorigin="anonymous"></script>


</body>
</html>